The Shopping Cart lets users add, remove, and check items out.
They can add an item that wasn't already added.
The checkout process returns a receipt that holds the subtotal, tax, and total.

               Test Cases
----------------------------------------
- adding an item if not already added
    - Test if cart contains the item after its added
    - Test if the cart skips duplicate item
- removing an item
    - Test if the item gets removed after being sold
    - Test for illegal exception from an empty cart
- checkout
    - Test if subtotal is correct
    - Test for correct tax
    - Test if total is correct
    - Test for illegal exception for trying to check out an empty cart
